usn{margin-left: 10px; text-align: center; font-size: 14pt; color: red;}
name{margin-right: 10px; font-size: 25pt; color: blue;}
branch{margin-top: 20px; text-align: center; font-size: 16pt; color: yellow;}